/Proyect_bank/nbproject/private/
/Proyect_bank/build/
*/.DS_Store
.vscode/
*.txt
*.xml
*.iml
*.json
!stats.json
.idea/
pubspec.yaml
pubspec.lock
.venv
/Proyect_bank/dist/
Proyect_bank/src/Controlador/pruebas.java
/JavaApplication6/nbproject/private/
/Proyect_bank_Empleados/nbproject/private/
