/Proyect_bank_Empleados/nbproject/private/
/Proyect_bank_Empleados/build/
/Proyect_bank_Empleados/dist/
/Proyect_bank_Clientes/nbproject/private/
/Proyect_bank_Clientes/build/
/Proyect_bank_Clientes/dist/
*/.DS_Store
.vscode/
*.txt
*.xml
*.iml
*.json
!stats.json
.idea/
pubspec.yaml
pubspec.lock
.venv